<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'User List for ' + ${year} + '년 ' + ${month} + '월'">User List for Month</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
<h1 th:text="|${year}년 ${month}월 사용자 목록|"></h1>
<button type="button" onclick="location.href='../users/list'">모든 사용자 목록</button>
<table>
    <tr>
        <th style="text-align: center">번호</th>
        <th style="text-align: center">이름</th>
        <th style="text-align: center">공금</th>
        <th style="text-align: center">참여</th>
    </tr>
    <tr th:if="${#lists.isEmpty(userss)}">
        <td colspan="4" style="text-align: center;">사용자가 없습니다.</td>
    </tr>
    <tr th:each="user : ${userss}">
        <td style="text-align: center" th:text="${user.id}"></td>
        <td style="text-align: center" th:text="${user.name}"></td>
        <td class="status-cell"
            th:id="'money-' + ${user.id}"
            th:text="${user.isMoney ? 'O' : 'X'}"></td>
        <td class="status-cell"
            th:id="'participation-' + ${user.id}"
            th:text="${user.isParticipation ? 'O' : 'X'}"></td>
    </tr>
</table>
<button type="button" onclick="location.href='../usr/home/main'">목록</button>
</body>
</html>
