<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <style>
        .status-cell {
            text-align: center;
            padding: 5px 10px;
            border: 1px solid;
            border-radius: 10px;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .status-cell:hover {
            background-color: #f0f0f0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
    <script>
        function goToCurrentMonth() {
            const now = new Date();
            const year = now.getFullYear();
            const month = now.getMonth() + 1; // getMonth()는 0부터 시작하므로 +1
            location.href = `/usr/Cdar/${year}/${month}`; // URL을 수정하여 Cdar로 이동
        }
    </script>
</head>
<body>
<button type="button" onclick="location.href='/usr/new'">회원 추가</button> <!-- URL 수정 -->
<button type="button" onclick="location.href='/h2-console/login.do?jsessionid=0eee04fa5edc9d6bd800c138a755474b'">DB</button>
<button type="button" onclick="goToCurrentMonth()">이번 달 사용자 목록</button>

<table>
    <tr>
        <th style="text-align: center">번호</th>
        <th style="text-align: center">이름</th>
    </tr>
    <tr th:each="player : ${players}"> <!-- "players"로 수정 -->
        <td style="text-align: center" th:text="${player.id}"></td> <!-- 플레이어 ID 출력 -->
        <td style="text-align: center" th:text="${player.name}"></td> <!-- 플레이어 이름 출력 -->
    </tr>
</table>
</body>
</html>
